<ActionBar title="Movies">
  <ActionItem text="Add" (tap)="addMovie()" android.position="actionBar">
  </ActionItem>
  <ActionItem text="logout" (tap)="logout()" ios.systemIcon="16" ios.position="right" android.position="popup">
  </ActionItem>
</ActionBar>

<!-- List of movies -->
<GridLayout>
  <ListView [items]="items">
    <ng-template let-item="item">
      <StackLayout [nsRouterLink]="['/movie', item.id, 'view']">
        <Label class="movie-title" [text]="item.title"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
