<ActionBar title="Movies"> </ActionBar>

<!-- List of movies -->
<!-- <GridLayout>
  <ListView [items]="movies">
      <ng-template let-item="movie">
          <StackLayout>
            <Label [text]="movie.title"></Label>
          </StackLayout>
      </ng-template>
  </ListView>
</GridLayout> -->

<GridLayout>
    <ListView [items]="items">
      <ng-template let-item="item">
        <StackLayout [nsRouterLink]="['/movie', item.id]">
          <Label class="movie-title" [text]="item.title"></Label>
        </StackLayout>
      </ng-template>
    </ListView>
  </GridLayout>
