.app {
  background-color: #dedede;
  color: #000;
  height: 100vh;
}

.app-nav {
  background-color: #282c34;
  padding: 5px 3em;
  /* display: flex;
  flex-direction: row; */
}
@media (max-width: 768px) {
  .app-nav {
    padding: 5px 1em;
  }
}

.app-logo-container {
  display: flex;
  flex-direction: row;
}

.app-logo {
  font-size: 30px;
  color: #F46001;
}

.app-trademaker {
  color: #fff;
}

h1 {
  text-align: center;
  color: #F46001;
  font-size: 3em;
}
