.app {
  background-color: #dedede;
  color: #000;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-nav {
  background-color: #282c34;
  padding: 5px 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .app-nav {
    padding: 5px 1em;
  }
}

.app-logo-container {
  display: flex;
  flex-direction: row;
}

.app-logo {
  font-size: 30px;
  color: #F46001;
}

.app-trademaker {
  color: #fff;
}

h1 {
  text-align: center;
  color: #F46001;
  font-size: 3em;
}

.logout-wrapper {
  color: #F46001;
  font-size: 20px;
  cursor: pointer;
}
