<!-- <form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
    <label for="title">Title</label><br>
    <input type="text" placeholder="Enter movie title" formControlName="title"><br><br>


    <label for="description">Description</label><br>
    <div class="text-area-wrapper">
        <textarea type="text" placeholder="Enter movie description" formControlName="description"></textarea><br><br>
    </div>
    <button type="submit" [disabled]="formDisabled()">
        <span *ngIf="!id">Create</span>
        <span *ngIf="id">Update</span>
    </button>
</form> -->

<ActionBar *ngIf="!isEditing" title="Add Movie">
    <ActionItem text="logout" (tap)="logout()" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
</ActionBar>

<ActionBar *ngIf="isEditing" title="Edit Movie">
    <ActionItem text="logout" (tap)="logout()" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
</ActionBar>


<StackLayout>
    <StackLayout class="form-container">
        <!-- <Label class="form-label" text="Title"></Label> -->
        <TextField hint="Enter title" class="form-item" [(ngModel)]="movie.title"></TextField>

        <!-- <Label class="form-label" text="Description"></Label> -->
        <TextField hint="Enter description" class="form-item" [(ngModel)]="movie.description"></TextField>

        <Button class="btn-orange form-item" text="Save" (tap)="saveMovie()"></Button>

    </StackLayout>
</StackLayout>
