<!-- <form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
    <label for="title">Title</label><br>
    <input type="text" placeholder="Enter movie title" formControlName="title"><br><br>


    <label for="description">Description</label><br>
    <div class="text-area-wrapper">
        <textarea type="text" placeholder="Enter movie description" formControlName="description"></textarea><br><br>
    </div>
    <button type="submit" [disabled]="formDisabled()">
        <span *ngIf="!id">Create</span>
        <span *ngIf="id">Update</span>
    </button>
</form> -->

<ActionBar title="Added Movie">
    <ActionItem text="logout" (tap)="logout()" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
</ActionBar>
