fa-icon.orange {
    color: orange;
}

fa-icon.purple {
   color: purple;
}

#rate-container {
    border-top: 2px solid purple;
}

#rate-container {
    cursor: pointer;
    font-size: 2em;
}

.details-container {
    padding: 10;
}

.movie-detail-title {
    font-size: 25;
}

.movie-detail-item {
    font-size: 16;
}

.rating {
    font-size: 20em;
}

.orange {
    color: orange
}

.no-rating {
    font-size: 18em;
    color: black;
}

.yellow {
    color: purple;
}
