<ActionBar title="Login"> </ActionBar>


<StackLayout class="login-container">

    <!-- Username and password fields -->
    <!-- <Label [text]="input.username"></Label> -->

    <StackLayout class="spinner-container">
        <TextField class="txt-input" hint="Enter Username" [(ngModel)]="input.username"></TextField>

        <!-- <Label [text]="input.password"></Label> -->
        <TextField class="txt-input" hint="Enter Password" [(ngModel)]="input.password"></TextField>


        <!-- Spinner -->
        <ActivityIndicator *ngIf="loading" class="spinner" busy="true"></ActivityIndicator>

        <!-- Login button -->
        <Button *ngIf="!loading && !registerMode" class="btn-login" text="Login" (tap)="onLogin()"></Button>
        <Button *ngIf="!loading && registerMode" class="btn-login" text="Register" (tap)="onRegister()"></Button>

        <Label *ngIf="!loading && !registerMode" (tap)="registerMode = true" class="info-link" text="Don't have an account? Register Here"></Label>

        <Label *ngIf="!loading && registerMode" (tap)="registerMode = false" class="info-link" text="Already have an account? Login Here"></Label>
    </StackLayout>


</StackLayout>
