<form [formGroup]="authForm" (ngSubmit)="login()">
    <label for="title">Username</label><br>
    <input type="text" placeholder="Enter Username" formControlName="username"><br><br>

    <label for="password">Password</label><br>
    <input type="password" placeholder="Enter Password" formControlName="password"><br><br>

    <button type="submit" [disabled]="formDisabled()">
        <span *ngIf="!registerMode">Login</span>        
        <span *ngIf="registerMode">Register</span>
    </button>
</form>
<br>
<br>
<span *ngIf="!registerMode">Don't have an account? <span class="info-link" (click)="registerMode = true"> Register here</span> </span>
<span *ngIf="registerMode">Already have an account? <span class="info-link" (click)="registerMode = false"> Login here</span></span>