<div class="app-movie-list-row row">

  <div class="app-movie-header">
    <div class="app-movie-header-title">
     <h2>Movies</h2>
    </div>
    <button class="button-primary" type="button" (click)="newMovie()">
      <fa-icon [icon]="addNew"></fa-icon>
      <span> New Movie</span>
    </button>
  </div>

  <div *ngIf="loading" class="app-movie-spinner">
    <div class="loader">Loading...</div>
  </div>

  <!-- <div class="app-movie-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div> -->

  <!-- <div class="row">
    <div class="col-md-2 app-movie-list-card" style="background-color: #F46001;">
      <p>Hello</p>
    </div>
  </div> -->

  <div  *ngFor="let movie of movies" class="app-movie-list-card">
    <div class="app-movie-img-wrapper">
      <div class="app-movie-img">
        <!-- Image will go here -->
      </div>
    </div>
    <span class="app-movie-banner">
      <div class="app-movie-banner-icon">
        <span class="app-movie-banner-icon-text">{{movie.logo}}</span>
      </div>
    </span>
    <div class="app-movie-content">
      <div class="app-movie-title">{{movie.title_temp}}</div>
      <div class="app-movie-rating">
        <fa-icon [icon]="faStar"  [ngClass]="{'orange':movie.avg_ratings! > 0 }"></fa-icon>
        <fa-icon [icon]="faStar"  [ngClass]="{'orange':movie.avg_ratings! > 1 }"></fa-icon>
        <fa-icon [icon]="faStar"  [ngClass]="{'orange':movie.avg_ratings! > 2 }"></fa-icon>
        <fa-icon [icon]="faStar"  [ngClass]="{'orange':movie.avg_ratings! > 3 }"></fa-icon>
        <fa-icon [icon]="faStar"  [ngClass]="{'orange':movie.avg_ratings! > 4 }"></fa-icon>
        <span> ({{movie.no_of_ratings}})</span>
      </div>
      <div class="app-movie-description">{{movie.description_temp}}</div>

    </div>
    <div class="app-movie-footer">
      <div class="app-movie-footer-content">
        <div class="app-user-rating">
          <span style="color: #F46001;">Your Rating: </span>

        <fa-icon *ngFor="let rate of [1,2,3,4,5]" [icon]="faStar" (mouseenter)="rateHover(rate, movie.id!)"
        (mouseleave)="movie.user_rating_temp = movie.user_rating" (click)="rateCLicked(rate, movie.id!)" [ngClass]="{'purple':movie.user_rating_temp! >= rate }"></fa-icon>
        </div>
        <div class="app-user-action">
          <fa-icon class="app-user-action-edit" [icon]="edit" (click)="editMovie(movie)"></fa-icon>
          <fa-icon class="app-user-action-delete" [icon]="trash" (click)="deleteMovie(movie)"></fa-icon>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- <div *ngFor="let movie of movies" class="movie-item">
    <h3 class="movie-title" (click)="movieClicked(movie)">{{movie.title}}</h3>
    <fa-icon id="edit-icon" [icon]="edit" (click)="editMovie(movie)"></fa-icon>
    <fa-icon id="trash-icon" [icon]="trash" (click)="deleteMovie(movie)"></fa-icon>
</div> -->


