<form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
  <h2 *ngIf="!id">Add new movie</h2>
  <h2 *ngIf="id">Update movie</h2>
  <hr>
    <label for="title">Title</label><br>
    <input type="text" placeholder="Enter movie title" formControlName="title"><br><br>


    <label for="description">Description</label><br>
    <div class="text-area-wrapper">
        <textarea type="text" placeholder="Enter movie description" formControlName="description"></textarea><br><br>
    </div>
    <mat-dialog-actions align="end">
      <button class="button-secondary app-action-btn" mat-button mat-dialog-close>Cancel</button>
      <button *ngIf="!loading" class="button-primary" type="submit" [disabled]="formDisabled()">
        <span *ngIf="!id">Create</span>
        <span *ngIf="id">Update</span>
    </button>

    <div *ngIf="loading" class="app-movie-spinner">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    </mat-dialog-actions>

</form>
